.vscode/
__pycache__/
.ipynb_checkpoints/
.azureml/
assets/
.amlignore
#
# For 5_automl-classification-with-onnx.ipynb
sample_projects/
data/mnist/
model.pkl
automl_errors*.log
#
# For 7_automl-onnx-deployment-quiz.ipynb
score.py
myenv.yml
Dockerfile
mnist.tar.gz
mnist/
azureml-models/
